<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

   <form class="d-flex" role="search">
    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button id="searchBtn" class="btn btn-outline-dark" type="submit">Search</button>
  </form>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>My Books</h3>

    <form class="form new-book-form">
      <div class="form-group">
        <label for="book-name">Title:</label>
        <p id="book-name"></p>
      </div>
      <div class="form-group">
        <label for="book-author">Author</label>
        <p id="book-author"></p>
      </div>
      <div class="form-group">
        <label for="book-desc">Description:</label>
        <p id="book-desc"></p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add to Library</button>
      </div>
    </form>
  </div>

  {{#if book.length}}
  <div class="col-md-6 book-list">
    <h3>Current Books:</h3>

    {{#each book as |book|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/book/{{book.id}}">{{book.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/booksearch.js"></script>
